:root {
    --color-black: rgba(0,0,0, .87);
    --color-grey: #8E8E8E;
    --color-point: #2699FB;
    --fs-s: 12px;
    --fs-m: 16px;
    --fs-l: 28px;
}

body {
    font-size: 62.5%;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    background: linear-gradient(to bottom, #D2E9FF 40%, #fff 40%) no-repeat;
    display: flex;
    justify-content: center;
}

/* 주요 컨텐츠 */
section {
    margin: 150px 0 70px;
}

.contents {
    width: 100%;
    min-width: 364px;
    max-width: 364px;
    border-radius: 18px;
    padding: 112px 20px 42px 20px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0, .16);
    color: var(--color-black);
}

/* 프로필 이미지 */
.img__profile {
    width: 150px;
    aspect-ratio: 1 / 1;
    background: url(sources/profile.jpg) no-repeat center top -20px / 140%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0, .16);
    position: absolute;
    top: -75px;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);
}

/* 프로필 이름 */
.profile {
    text-align: center;
}

.profile h1 {
    font-size: var(--fs-l);
    font-weight: 700;
}

.profile h2 {
    font-size: var(--fs-m);
    font-weight: 700;
    margin-top: 8px;
    color: var(--color-point);
}

/* 프로필 SNS */
.btn__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 36px 0 20px;
}

.btn__social > div a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.btn__social .tab {
    width: 100%;
}

.btn__social > div img {
    width: 28px;
}

.btn__social > div span {
    margin-top: 8px;
    font-size: var(--fs-s);
    font-weight: normal;
    color: var(--color-black);
}

.devide {
    width: 1px;
    height: 36px;
    background-color: #F5F5F5;
}

/* 인적사항 */
.info > div {
    border-top: 1px solid #F5F5F5;
    padding: 16px 14px;
}

.info > div:first-of-type {
    border-top: 3px solid #F5F5F5;
}

.info__phone {
    padding-top: 20px !important;
}

.info__text {
    padding-bottom: 0px !important;
}

.info a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.info img {
    width: 24px;
}

.info .info__txt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info .info__txt span {
    font-size: var(--fs-s);
    color: var(--color-grey);
}

.info .info__txt p {
    color: var(--color-black);
    font-size: var(--fs-m);
    line-height: 1.3;
}